In [2]:
import pandas as pd

In [4]:
df=pd.DataFrame([[85,52,57],[45,75,25],[75,85,96]])
dfs = pd.DataFrame([[1,2,3,5],[4,5,6,2],[7,8,9,22],[10,11,12,20]], columns=["A", "B", "C","d"], index=["x","y","z",'zz'])

In [5]:
df.head()
df.tail(2)
df.describe()
df.info()
df.shape
df.columns
df.size
df
dfs.index.tolist()
dfs.columns.tolist()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      int64
 1   1       3 non-null      int64
 2   2       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes

['A', 'B', 'C', 'd']

In [6]:
df

    0   1   2
0  85  52  57
1  45  75  25
2  75  85  96

In [ ]:
# Loading in Dataframes from Files

In [3]:
datas=pd.read_csv("https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/noc_regions.csv")
datas.head(5)
datas.sample(5)

     NOC    region notes
59   ECU   Ecuador   NaN
185  SRB    Serbia   NaN
207  TUR    Turkey   NaN
84   GUI    Guinea   NaN
65   ETH  Ethiopia   NaN

In [8]:
datas.loc[10]
datas.loc[[10,22,23,24]]
datas.loc[10:15]
datas.loc[10:15,["NOC","region"]]

    NOC          region
10  ARU           Aruba
11  ASA  American Samoa
12  AUS       Australia
13  AUT         Austria
14  AZE      Azerbaijan
15  BAH         Bahamas

In [9]:
datas.iloc[1,2]
datas["NOC"]

0      AFG
1      AHO
2      ALB
3      ALG
4      AND
      ...
225    YEM
226    YMD
227    YUG
228    ZAM
229    ZIM
Name: NOC, Length: 230, dtype: object

In [ ]:
datas.sort_values("NOC", ascending=True)
datas[datas['region'] == 'Canada']

     NOC  region         notes
36   CAN  Canada           NaN
147  NFL  Canada  Newfoundland

In [16]:
datas.loc[datas["NOC"]=="YUG"]
datas.loc[datas["NOC"].str.contains("YUG")]

     NOC  region       notes
227  YUG  Serbia  Yugoslavia

In [18]:
datas.query('region == "Canada"')
datas.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [ ]:
datas = datas.drop(2)
datas.drop()

In [7]:
# addding and removing rows and columns
# merge and concatenate
# aggregation and grouping
datas.columns

Index(['NOC', 'region', 'notes'], dtype='object')

In [ ]:
datas["NOC"]   #datas["NOC"] → gets the column
datas[datas["NOC"] == "AFG"]  #NOC is column name and AFG is value in that column

   NOC       region notes
0  AFG  Afghanistan   NaN